.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  max-width: 1200px;
}

@media (min-width: 768px) {
  /* Tablet view */
  .grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (min-width: 1080px) {
  /* Laptop view */
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (max-width: 767px) {
  /* Mobile view */
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-items {
  padding: 20px;
  text-align: center;
}
